<div class="login-container">
  {{#if message}}
    <p style="color: green">{{message}}</p>
  {{else}}
    <h2>Change Password</h2>
    <form action="/change-password" method="post">
      <label>
        <input
          class="centered-text"
          type="password"
          name="currentPassword"
          placeholder="Current Password"
          required
        />
      </label>
      <label>
        <input
          class="centered-text"
          type="password"
          name="newPassword"
          placeholder="New Password"
          required
        />
      </label>
      <button type="submit">Change Password</button>
    </form>
  {{/if}}
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>