Login
<div>
    <h2>Log in</h2>
    <form action="/login" method="post">
        <label>
            <input type="text" name="username" placeholder="Username" required>
        </label>
        <label>
            <input type="password" name="password" placeholder="*******" required>
        </label>
        <button type="submit">Log in</button>
    </form>
    {{#if errorMessage}}
        <p>{{errorMessage}}</p>
    {{/if}}
</div>