  <h1>Login Page is Currently Disabled</h1>
  <p>you will be automatically redirected after 30 seconds.</p>
  
  <script>
    setTimeout(() => {
      window.location.href = '/login'; // Redirect the user to the login page 
    }, 30000); // 30 secs
  </script>