    <nav>
      <form action="/search" method="post" id="search-form">
        <input type="text" name="search" id="search-input" required />
        <button type="submit" id="search-button">Search</button>
      </form>
      {{#if userInSession}}
        <a href="/">Home Page</a>
        <a href="/profile/ironhacker">Profile</a>
        <form id="logout-form" action="/logout" method="POST">
          <button class="logout-button">Logout</button>
        </form>
      {{else}}
        <a href="/">Home Page</a>
        <a href="/signup">Sign up</a>
        <a href="/login" class="login-button">Log in</a>
      {{/if}}
    </nav>
  </header>

  <h1>Login Page is Currently Disabled</h1>
  <p>you will be automatically redirected after 30 seconds.</p>
  
  <script>
    setTimeout(() => {
      window.location.href = '/login'; // Redirect the user to the login page 
    }, 30000); // 30 secs
  </script>