<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/ironhacker">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>

<div class="signup-container">
  <h2>Sign-up</h2>
  <form action="/signup" method="post">
    <label>
      <input class="centered-text" type="text" name="username" placeholder="Username" required />
    </label>
    <label>
      <input class="centered-text" type="email" name="email" placeholder="email" required />
    </label>
    <label>
      <input class="centered-text" type="password" name="password" placeholder="Password" required />
    </label>
    <button type="submit">Sign up</button>
  </form>
  {{#if errorMessage}}
    <p>{{errorMessage}}</p>
  {{/if}}
</div>