<footer class="bg-header-dk py-5 text-center text-blue-400 fixed left-0 bottom-0 w-full">
  <div>
    <small>&copy; Monkee Hub -
      {{currentYear}}
      by:
      <a class="px-2" href="https://github.com/SimonBjorkberg">Simon</a>&
      <a class="pr-2" href="https://github.com/achref95">Achref</a>for Ironhack
      2023.</small>
  </div>

</footer>