<footer class="bg-header-dk py-5 text-center text-white bg-teal-700 mt-auto">
  <div>
    <small>&copy; <span class="font-bold">Monkee Hub</span> -
      {{currentYear}}
      by:
      <a class="px-2 font-bold hover:underline" href="https://github.com/SimonBjorkberg">Simon</a>&
      <a class="pr-2 font-bold hover:underline" href="https://github.com/achref95">Achref</a>for Ironhack
      2023.</small>
  </div>

</footer>