<div>
  <div class="flex flex-wrap justify-center max-w-[900px] mx-auto mt-10">
    {{#each users}}
      <div class="bg-white rounded-lg shadow-md p-4 m-2 w-40">
        <img
          src="{{this.profilePicture}}"
          alt="Profile Picture"
          class="w-20 h-20 rounded-full mx-auto mb-2"
        />
        <span class="block text-center font-bold">{{this.username}}</span>
        <a
          href="/chat/{{this.username}}"
          class="block text-center mt-2 text-white font-bold bg-teal-700 py-2 px-4 rounded hover:bg-teal-500"
        >Chat</a>
      </div>
    {{/each}}
  </div>
</div>


