<div class="flex flex-col lg:flex-row lg:w-auto mt-6 justify-around max-w-5xl items-center m-auto lg:mt-72">
  {{#each topic}}
    <div class="w-72 bg-gray-100 text-gray-800 p-4 rounded-lg shadow-md text-center mb-4 flex flex-col">
      <a
        href="/topic/{{this.title}}"
        class="mb-2 text-center bg-teal-700 hover:bg-teal-500 text-white border border-white rounded-r px-4 py-2 transition-colors">
        {{this.title}}
      </a>
      <p class="text-gray-800 text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
  {{/each}}
</div>