<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Project-2</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>

  <body>

    <nav>
      <a href="/login">Log in</a>
      <br />
      <a href="/signup">Sign up</a>
      <br />
      <a href="/profile/ironhacker">User Profile</a>
      <br />
      <a href="/">Home</a>
      <form action="/logout" method="post">
        <button type="submit">Log out</button>
      </form>
    </nav>

    {{{body}}}

    <script src="/js/script.js"></script>
  </body>

</html>