<section
  class="w-96 bg-teal-900 mx-auto mt-10 p-5 border-2 border-teal-600 rounded-lg"
>
  <h1 class="text-white text-center font-bold text-xl">404 Not found</h1>
  <p class="text-white text-center mt-5">The page you were looking for could not
    be found! :(</p>
  <p class="font-bold text-center mt-5"><a
      href="/"
      class="text-white hover:text-teal-500"
    >Home Page</a></p>

</section>