body {
  background-color: #cecece;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  width: 75%;
  margin: auto;
}

a {
  color: #00b7ff;
}

h1 {
  color: 15px;
}

nav {
  background-color: #8f8f8f;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-radius: 4px;
}

nav a {
  color: #fff;
  text-decoration: none;
  margin-right: 50px;
}

#search-form {
  display: flex;
  align-items: center;
  margin: 0 50px;
  width: 30%;
}

#search-input {
  padding: 6px;
  border: none;
  width: 100%;
  border-radius: 4px;
  margin-right: 6px;
  font-size: 14px;
}

#search-button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 7px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

#search-button:hover {
  background-color: #45a049;
}

#logout-form {
  margin: 0;
}

.logout-button {
  background-color: #dd4b39;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  border-radius: 4px;
}

.logout-button:hover {
  background-color: #c0382b;
}

.login-button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-right: 0px;
  border-radius: 4px;
}
.login-button:hover {
  background-color: #0f8ae6;
}

/* Login */
.login-container {
  max-width: 300px;
  margin: 50px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
  text-align: center;
  color: #333;
}

.login-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-container input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.login-container button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-container button:hover {
  background-color: #0f8ae6;
}

.login-container p {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

/* Signup */
.signup-container {
  max-width: 300px;
  margin: 50px auto;
  background-color: #f8f8f8;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.signup-container h2 {
  text-align: center;
  color: #333;
}

.signup-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-container label {
  margin: 10px 0;
}

.signup-container input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.signup-container button {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-container button:hover {
  background-color: #45a049;
}

.signup-container p {
  color: #ff0000;
  margin-top: 10px;
  text-align: center;
}

.thread-container {
  margin: 0 auto;
}

.index-thread {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 0.3s;
}

.index-thread:hover {
  background-color: #e6e6e6;
}

.thread-title {
  color: #333;
  font-size: 24px;
  margin-top: 0;
}

.thread-content {
  color: #666;
}

.thread-info-div {
  display: flex;
  justify-content: space-between;
}

.thread-info {
  color: #999;
  font-size: 12px;
}

.thread {
  background-color: #f2f2f2;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s;
}

.profile {

  background-color: #f5f5f5;
  padding: 20px;
  width: 300px;
  margin: 50px auto;
  text-align: center;
}

.profile h4 {
  font-size: 18px;
  margin-top: 0;
}

.profile h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.profile #avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile .change-password {
  display: block;
  text-decoration: none;
  background-color: #0d74c8;
  padding: 10px;
  color: #161616;
  margin-top: 10px;
}
.profile .change-password:hover {
  transition: background-color 0.3s;
}

.centered-text {
  text-align: center;
}