body {
  margin: 0;
  background-image: url('/images/website-background-test.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  overflow-y: scroll;
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: transparent;
}
form {
  margin: 0;
}

dialog::backdrop {
  background-color: hsla(0, 0%, 0%, 0.5);
}
