<div class="container mx-auto">
  <h2 class="text-2xl font-bold mb-4">Users</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
    {{#each users}}
      <div class="bg-white rounded-lg shadow-md p-4">
        <img src="{{this.profilePicture}}" alt="Profile Picture" class="w-24 h-24 rounded-full mx-auto mb-2">
        <span class="block text-center font-bold">{{this.username}}</span>
        <form action="/users" method="POST">
          <input type="hidden" name="userId" value="{{this._id}}">
          <button type="submit" class="block text-center mt-2 bg-red-500 hover:bg-red-700 text-white font-bold px-4 py-2 rounded mx-auto">Delete</button>
        </form>
      </div>
    {{/each}}
  </div>
</div>