<ul>
  {{#each users}}
    <li>
      {{this.username}}
      <form action="/users" method="POST" style="display: inline;">
        <input type="hidden" name="userId" value="{{this._id}}">
        <button type="submit">Delete</button>
      </form>
    </li>
  {{/each}}
</ul>