<nav>
  <form action="/search" method="post" id="search-form">
    <input type="text" name="search" id="search-input" required />
    <button type="submit" id="search-button">Search</button>
  </form>
  {{#if userInSession}}
    <a href="/">Home Page</a>
    <a href="/profile/{{userInSession.username}}">Profile</a>
    <form id="logout-form" action="/logout" method="POST">
      <button class="logout-button">Logout</button>
    </form>
  {{else}}
    <a href="/">Home Page</a>
    <a href="/signup">Sign up</a>
    <a href="/login" class="login-button">Log in</a>
  {{/if}}
</nav>
<hr>
<h4>user profile:</h4>
<h2>{{username}}</h2>
<hr>
<form action="/users/update-password" method="post">
  <input type="text" name="currentPassword" placeholder="Current Password" required />
  <input type="text" name="newPassword" placeholder="New Password" required />
  <button type="submit">Update Password</button>
</form>
<p>if successful it keeps u on this page, if unsuccessful it sends you to the
  index route '/'</p>
  <hr>

{{#if passwordChanged }}
  <p>{{ passwordChanged }}</p>
{{/if}}