<div class="edit-post-container">
  <div class="form-container">
    <form action="/post/{{post._id}}/edit" method="post">
      <input type="text" name="content" value="{{post.content}}"/>
      <button type="submit">Edit</button>
    </form>
    <a href="/threads/{{threadId}}">Go back</a>
  </div>
</div>